div.home {
    width: 1000px;
    height: 500px;
    background-color: red;
    margin: 0 auto;
}

div.home1 {
    width: 50%;
    height: 500px;
    float: left;
}

div.home_pic {
    width: 50%;
    height: 500px;
    float: left;
}

.img_home {
    width: 450px;
    height: 350px;
    margin-top: 60px;
    margin-left: 10px;
}

.h1_home {
    margin-top: 150px;
    margin-left: 70px;
    color: white;
}

.p_home {
    color: white;
    margin-left: 70px;
}

.button_home {
    background-color: red;
    padding: 16px 32px;
    text-align: center;
    font: bold 15px Arial;
    border-radius: 5px;
    margin-left: 70px;
    margin-top: 30px;
}

.button_homestyle {

    color: white;
    border: 1px solid wheat;

}